<h1><%= t('.edit_purchase_order_item') %></h1>

<%= form_for @purchase_order_item do |f| %>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, autofocus: true, autocomplete: 'quantity', class: "form-select" %>
  </div>

  <div class="form-group">
    <%= f.submit "Edit purchase order item", class: 'btn btn-primary' %>
  </div>
<% end %>
