<h1><%= t('.add_purchase_order_item') %></h1>

<%= form_for @purchase_order_item, url: purchase_order_items_path, data: { turbo_method: :post} do |f| %>

  <div class="form-group">
    <%= f.label :product_id %>
    <%= f.collection_select :product_id, @products, :id, :name, { prompt: "Select a product" }, class: "form-select"%>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, autofocus: true, autocomplete: 'quantity', class: "form-select" %>
  </div>

  <div class="form-group">
    <%= f.submit "Add purchase order item", class: 'btn btn-primary' %>
  </div>
<% end %>
