<h1><%= t('.add_purchase_order') %></h1>

<%= form_for @purchase_order, url: purchase_orders_path, data: { turbo_method: :post} do |f| %>

  <div class="form-group">
    <%= f.label :supplier_id %>
    <%= f.collection_select :supplier_id, @suppliers, :id, :name, { prompt: "Select a supplier" }, class: "form-select"%>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select([['Pending', 'pending'], ['Cancelled', 'cancelled'], ['Received', 'received']]), class: "form-select" %>
  </div>

  <div class="form-group">
    <%= f.submit "Add purchase order", class: 'btn btn-primary' %>
  </div>
<% end %>
