<h1>Welcome</h1>
<br>
<%= link_to "Product's", products_path %><br>
<%= link_to "Location's", locations_path%><br>
<%= link_to "Inventory item's", inventory_items_path%><br>
<%= link_to "Purchase Order's", purchase_orders_path%><br>
<%= link_to "Purchase Item's", purchase_order_items_path%><br>
<%= link_to "Supplier's", suppliers_path%>