<h1><%= @product.name%></h1><br>

<p>Sku: <%= @product.sku%></p>
<p>Description: <%= @product.description%></p>
<p>Reorder_level: <%= @product.reorder_level%></p>
<p>Price: <%= @product.price%></p>
<p>Quantity: <%= @product.quantity%></p>