<h1><%= t('.add_supplier') %></h1>

<%= form_for @supplier, url: suppliers_path, data: { turbo_method: :post} do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>
    
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, autofocus: true, autocomplete: 'phone', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, autofocus: true, autocomplete: 'address', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Add supplier", class: 'btn btn-primary' %>
  </div>
<% end %>
